* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Grand ecran > 992px */
@media (min-width: 992px) {
    
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:1rem;
        width: 992px;
        margin: auto;
        padding: 1rem;
    }
    article{
        background-color: yellow;
        min-height: 300px;
        width: 300px;
    }
