* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Petit ecran < 768px */
@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0.5em 1em;
    align-items: center;
  }

  article {
    width: 300px;
    height: 50vh;
    background-color: #3d348b;
  }
}

/* Moyen ecran 768px - 992px */
@media (min-width: 768px) and (max-width: 992px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    width: 768px;
    margin: 0 auto;
  }

  article {
    height: 30vh;
    background-color: #a31621;
  }
}

/* Grand ecran > 992px */
@media (min-width: 992px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 992px;
    margin: auto;
    padding: 1rem;
  }
  article {
    background-color: yellow;
    min-height: 300px;
    width: 300px;
  }
}
